<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.CAPTURE_AUDIO_OUTPUT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BrainFatigueApp">
        <activity
            android:name=".FitBitLoginActivity"
            android:exported="false">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DashboardFitbit"
            android:exported="false"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".NotificationReceiver"
            android:exported="true" />

        <activity
            android:name=".LoginPageActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:parentActivityName=".LoginPageActivity" />
        <activity
            android:name=".DashboardActivity"
            android:exported="true"
            android:parentActivityName=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="www.brainfatigueapp.com"
                    android:pathPattern="/dashboard" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="www.brainfatigueapp.com"
                    android:pathPattern="/dashboard" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="app"
                    android:host="www.brainfatigueapp.com"
                    android:pathPattern="/dashboard" />
            </intent-filter>

        </activity>
        <activity
            android:name=".SurveyStartActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".SurveyMiddle9Activity"
            android:exported="false"
            android:parentActivityName=".SurveyMiddle8Activity" />
        <activity
            android:name=".SurveyMiddle8Activity"
            android:exported="false"
            android:parentActivityName=".SurveyMiddle7Activity" />
        <activity
            android:name=".SurveyMiddle7Activity"
            android:exported="false"
            android:parentActivityName=".SurveyMiddle6Activity" />
        <activity
            android:name=".SurveyMiddle6Activity"
            android:exported="false"
            android:parentActivityName=".SurveyMiddle5Activity" />
        <activity
            android:name=".SurveyMiddle5Activity"
            android:exported="false"
            android:parentActivityName=".SurveyMiddle4Activity" />
        <activity
            android:name=".SurveyMiddle4hActivity"
            android:exported="false"
            android:parentActivityName=".SurveyMiddle4Activity" />
        <activity
            android:name=".SurveyMiddle4gActivity"
            android:exported="false"
            android:parentActivityName=".SurveyMiddle4Activity" />
        <activity
            android:name=".SurveyMiddle4fActivity"
            android:exported="false"
            android:parentActivityName=".SurveyMiddle4Activity" />
        <activity
            android:name=".SurveyMiddle4eActivity"
            android:exported="false"
            android:parentActivityName=".SurveyMiddle4Activity" />
        <activity
            android:name=".SurveyMiddle4dActivity"
            android:exported="false"
            android:parentActivityName=".SurveyMiddle4Activity" />
        <activity
            android:name=".SurveyMiddle4cActivity"
            android:exported="false"
            android:parentActivityName=".SurveyMiddle4Activity" />
        <activity
            android:name=".SurveyMiddle4bActivity"
            android:exported="false"
            android:parentActivityName=".SurveyMiddle4Activity" />
        <activity
            android:name=".SurveyMiddle4aActivity"
            android:exported="false"
            android:parentActivityName=".SurveyMiddle4Activity" />
        <activity
            android:name=".SurveyMiddle4Activity"
            android:exported="false"
            android:parentActivityName=".SurveyMiddle3Activity" />
        <activity
            android:name=".SurveyMiddle3gActivity"
            android:exported="false"
            android:parentActivityName=".SurveyMiddle3Activity" />
        <activity
            android:name=".SurveyMiddle3fActivity"
            android:exported="false"
            android:parentActivityName=".SurveyMiddle3Activity" />
        <activity
            android:name=".SurveyMiddle3eActivity"
            android:exported="false"
            android:parentActivityName=".SurveyMiddle3Activity" />
        <activity
            android:name=".SurveyMiddle3dActivity"
            android:exported="false"
            android:parentActivityName=".SurveyMiddle3Activity" />
        <activity
            android:name=".SurveyMiddle3cActivity"
            android:exported="false"
            android:parentActivityName=".SurveyMiddle3Activity" />
        <activity
            android:name=".SurveyMiddle3bActivity"
            android:exported="false"
            android:parentActivityName=".SurveyMiddle3Activity" />
        <activity
            android:name=".SurveyMiddle3aActivity"
            android:exported="false"
            android:parentActivityName=".SurveyMiddle3Activity" />
        <activity
            android:name=".SurveyMiddle3Activity"
            android:exported="false"
            android:parentActivityName=".SurveyMiddle2Activity" />
        <activity
            android:name=".SurveyMiddle2Activity"
            android:exported="false"
            android:parentActivityName=".SurveyMiddle1Activity" />
        <activity
            android:name=".SurveyMiddle1Activity"
            android:exported="false"
            android:parentActivityName=".SurveyStartActivity" />
        <activity
            android:name=".SurveyEndActivity"
            android:exported="false"
            android:parentActivityName=".SurveyMiddle9Activity" />

        <activity
                android:name=".ReactionTimeTest1Activity"
                android:exported="false"
                android:parentActivityName=".SurveyEndActivity"/>
        <activity
                android:name=".ReactionTimeTest2Activity"
                android:exported="false"
                android:parentActivityName=".ReactionTimeTest1Activity"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />
    </application>

</manifest>